@font-face {
  font-family: 'iconfont';  /* project id 2204410 */
  src: url('//at.alicdn.com/t/font_2204410_puvlam1hx.eot');
  src: url('//at.alicdn.com/t/font_2204410_puvlam1hx.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2204410_puvlam1hx.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2204410_puvlam1hx.woff') format('woff'),
  url('//at.alicdn.com/t/font_2204410_puvlam1hx.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2204410_puvlam1hx.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-volume:before{
  content:'\e63c'
}
.icon-no1:before{
  content:'\e66f'
}
.icon-no2:before{
  content:'\e66b'
}
.icon-no3:before{
  content:'\e66e'
}
.icon-search:before{
  content:'\e617'
}
.icon-ok:before{
  content:'\e745'
}
.icon-prev:before{
  content:'\e659'
}
.icon-next:before{
  content:'\e667'
}
.icon-sequence:before{
  content:'\e66c'
}
.icon-clear:before{
  content:'\e6dc'
}
.icon-pause:before{
  content:'\e620'
}
.icon-add:before{
  content:'\e629'
}
.icon-close:before{
  content:'\e62a'
}
.icon-favorite:before{
  content:'\e64b'
}

.icon-delete:before{
  content:'\e652'
}
.icon-music:before{
  content:'\e60e'
}
.icon-random:before{
  content:'\e60f'
}
.icon-playlist:before{
  content:'\ea84'
}
.icon-play:before{
  content:'\e731'
}
.icon-back:before{
  content:'\e724'
}
.icon-loop:before{
  content:'\e66d'
}
.icon-no-favorite:before{
  content:'\e7ce'
}
.icon-mine:before{
  content:'\e660'
}







