@font-face {
  font-family: 'iconfont'  /* project id 2190490 */
  src: url('//at.alicdn.com/t/font_2190490_9xg1ei1nhjr.eot')
  src: url('//at.alicdn.com/t/font_2190490_9xg1ei1nhjr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2190490_9xg1ei1nhjr.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2190490_9xg1ei1nhjr.woff') format('woff'),
  url('//at.alicdn.com/t/font_2190490_9xg1ei1nhjr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2190490_9xg1ei1nhjr.svg#iconfont') format('svg')
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-search:before{
  content:'\e617'
}
.icon-ok:before{
  content:'\e745'
}
.icon-prev:before{
  content:'\e659'
}
.icon-next:before{
  content:'\&e667'
}
.icon-sequence:before{
  content:'\e623'
}
.icon-clear:before{
  content:'\e652'
}
.icon-play:before{
  content:'\e651'
}
.icon-add:before{
  content:'\e629'
}
.icon-close:before{
  content:'\e62a'
}
.icon-favorite:before{
  content:'\e7ce'
}

.icon-delete:before{
  content:'\e6dc'
}
.icon-music:before{
  content:'\e60e'
}
.icon-random:before{
  content:'\e60f'
}
.icon-playlist:before{
  content:'\ea72'
}
.icon-pause:before{
  content:'\e620'
}
.icon-back:before{
  content:'\e724'
}
.icon-loop:before{
  content:'\e69d'
}
.icon-not-favorite:before{
  content:'\e774'
}
.icon-mine:before{
  content:'\e660'
}







