// 颜色
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background =#ecf0f1
$color-theme = #ffcd32
$color-light = #fff
$color-text-l = rgba(255, 255, 255, 0.5)

//字体
$font-size-small-s = 10px
$font-size-small = 12px 
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px

// 字体颜色
$text-light=#fff
$text-gray=#7f8c8d
$text-dark=#000